body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    width: 80%;
}

.gallery img {
    width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
}
